.view_wrap{} 
.view_wrap .content_wrap{background:#fff; padding:20px; border-radius: 15px; min-height: 300px;}
.view_wrap .content_wrap h1 {font-size: 26px; padding-bottom:10px; border-bottom:2px solid #555; margin-bottom:10px;}