#header {display: flex; align-items: center; justify-content: space-between; margin-bottom:50px; position:relative;}

#header .leftChild{width:25%;}
#header h1{ position: relative; text-align: center; width:50%;   }
 
#header .rightChild{width:25%;  display: flex; justify-content: flex-end;}
#header button,#header a{padding:10px 15px; border-radius: 5px; color:#fff; font-weight: 300; }
#header .goback{ background:#555;   } 

@media screen and (max-width:550px) {
 
    #header h1{font-size: 6vw;}
    #header button, #header a{ padding: 8px 5px;}
 
}