 

.filter-wrap{display: flex; justify-content: space-between; align-items: center; margin-bottom:10px;}

input.search{background:0; padding:10px 8px;  border-radius: 0; width:40%;}

@media screen and (max-width:550px) {
    input.search{width:60%;}
    .notelist_wrap{height:400px}
}

