 .App { width:600px; background:rgba(255,255,255,0.5); margin:0 auto; margin-top:100px; border-radius: 20px; padding: 50px 30px; }
 .App .theme_btn{background:#fff; padding:5px; border-radius: 50px; width:140px; height:35px; font-size: 14px; position:relative; transition:0.5s; margin-top:15px; }
 .App .theme_btn::after{content: ''; display: block; background:#f3772a; width:15px; height:15px; border-radius: 50%; position:absolute; top:calc(50% - 7.5px); left:8px; transition:0.5s;} 
 .App .theme_btn.dark{background:#555; color:#fff;}
 .App .theme_btn.dark::after{  background:#f3772a; left:calc(100% - 23px);   }

